body {
  text-align: center;
  color: #292929;
  margin-bottom: 75px;
}

h1 {
  font-size: 56px;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #fff;
}

.hero {
  margin-top: 0px !important;
}

.navbar {
  background-color: #fff;
}

.section,
.text-section {
  padding: 60px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.projects {
  margin-left: 5px;
  margin-right: 5px;
}

.projects .test {
  margin-left: 5px;
  margin-right: 5px;
  padding: 120px 0;
  background-color: rgba(143, 219, 255, 0.5);
  color: white;
}

@media (max-width: 768px) {
  .projects {
    margin-left: 0px;
    margin-right: 0px;
  }

  .projects .test {
    margin: 5px 0;
    padding: 120px 0;
  background-color: rgba(143, 219, 255, 0.5);
  color: white;
  }
}

.text-section p {
  max-width: 900px;
  margin: 0 auto;
}

.primary {
  background-color: rgba(143, 219, 255, 0.5);
  color: white;
}

.primary:hover, .projects .col:hover {
  background-color: rgb(143, 219, 255, 0.6);
  transition: all 200ms ease-in-out;
}

.secondary {
  background-color: rgba(245, 245, 245, 0.5);
  color: #292929;
}

.secondary:hover {
  background-color: rgb(245, 245, 245);
  transition: all 200ms ease-in-out;
}

footer {
  background-color: #292929;
  padding: 0 0 2px;
}

.icon-link {
  color: white !important;
}

footer a {
  font-size: 40px;
}

footer a:hover,
.icon-link:hover {
  opacity: 0.8;
  transition: 80ms ease-in-out;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

/*Work page*/

.course-logo {
  padding: 20px 0px;
  max-height: 80px;
}

.tech {
  max-height: 80px;
}

/*Contact page*/
.contact a {
  color: red !important;
}