body {
  text-align: center;
  color: red;
  margin-bottom: 75px;
}

h1 {
  font-size: 56px;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #fff;
}

.navbar {
  background-color: #fff;
}

.section,
.text-section {
  padding: 60px 0;
  margin: 10px 0;
}

.text-section p {
  max-width: 900px;
  margin: 0 auto;
}

.primary {
  background-color: rgba(143, 219, 255, 0.5);
  color: white;
}

.primary:hover {
  background-color: rgb(143, 219, 255, 0.6);
  transition: all 200ms ease-in-out;
}

.secondary {
  background-color: rgba(245, 245, 245, 0.5);
  color: #292929;
}

.secondary:hover {
  background-color: rgb(245, 245, 245);
  transition: all 200ms ease-in-out;
}

footer {
  background-color: #292929;
  padding: 0 0 2px;
}

.icon-link {
  color: white !important;
}

footer a {
  font-size: 40px;
}

footer a:hover,
.icon-link:hover {
  opacity: 0.8;
  transition: 80ms ease-in-out;
}

/*Work page*/

.course-logo {
  padding: 20px 0px;
  max-height: 80px;
}
