body {
  text-align: center;
  color: #1c2938;
  margin-bottom: 70px;
  font-family: 'Noto Sans';
}

body .trial {
  background-color: #cd3f3e !important;
}

h1 {
  font-size: 56px;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1.5;
}

a:hover {
  color: #fff;
}

.hero {
  margin-top: 0px !important;
}

.hero p {
  max-width: 600px !important;
}

.navbar {
  background-color: #fff;
}

.section,
.text-section {
  padding: 60px 40px;
  margin-top: 10px;
}

.text-section p {
  margin: 0 auto;
}

.projects {
  margin-left: 5px;
  margin-right: 5px;
}

.projects .test {
  margin-left: 5px;
  margin-right: 5px;
  padding: 120px 0;
}

@media (max-width: 768px) {
  .projects {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.primary {
  background-color: rgba(143, 219, 255, 0.5);
  color: white;
}

.primary:hover, .projects .col:hover {
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.secondary {
  background-color:#f4f6f6;
  opacity: 0.8;
  color: #1c2938;
}

.secondary a {
  color: #1c2938;
}

.secondary .icon-link {
  color: #1c2938 !important;
}

.secondary:hover {
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.highlight {
  background-color:#1c2938;
  opacity: 0.9;
  color: #fff;
}

.highlight:hover {
  opacity: 1;
  transition: all 200ms ease-in-out;
}

footer {
  background-color: #1c2938;
  padding: 0 0 2px;
  margin-top: 10px;
}

.icon-link {
  color: white !important;
}

footer a {
  font-size: 40px;
}

footer a:hover,
.icon-link:hover {
  opacity: 0.8;
  transition: 80ms ease-in-out;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

/*Work page*/

.course-logo {
  padding: 20px 0px;
  max-height: 80px;
}

.tech {
  max-height: 80px;
}

/*Home page*/

.about {
  background-color: #ff9c91;
  color: #fff;
  opacity: 0.9;
}

.work {
  background-color: #cd3f3e;
  color: #fff;
  opacity: 0.9;
}

.work:hover {
  opacity: 1;
}

.about:hover {
  opacity: 1;
}

.contact {
  opacity: 1;
}

.btn-highlight {
  border: solid 2px #ff9c91;
  border-radius: 40px;
  color: #ff9c91 !important;
  padding: 15px 25px;
}

.btn-highlight:hover {
  background-color: #ff9c91;
  color: #fff !important;
  transition: 80ms ease-in-out;
}